git config commit.gpgsign true
git config pull.rebase false
git config user.email "wilhelm@devilmayco.de"
git config user.name "Wilhelm Murdoch"
git config user.signingkey "1C7807EA181ED48D"
git config init.defaultBranch "main"
export GIT_SSH_COMMAND="ssh -i /Users/wilhelm/.ssh/github@macbook"